<ul class="media-list">
  <li class="media">
    <div class="comment">
      <a class="pull-left" href="#">
        <%= image_tag comment.user.user_profile.logo_url(:thumb).to_s,
                      :class => 'media-object',
                      :size => '20x20' %>
      </a>
      <div class="media-body">
        <%= link_to "×",
                    comment_path(comment),
                    :method => :delete,
                    :remote => true,
                    :confirm => "#{t('alert.are_you_sure')}",
                    :disable_with => "×",
                    :class => 'close' %>
        <h4 class="media-heading">
          <%= comment.user.user_profile.name %>
          <small>
            <%= comment.updated_at %>
          </small>
        </h4>
        <p><%= comment.body %></p>
      </div>
    </div>
  </li>
</ul>
