<div class="comment-form">
  <%= minimal_form_for comment,
                      :remote => true,
                      :html => {:class => 'form-vertical'} do |f| %>

    <div class="comments-errors">
      <p></p>
    </div>

    <div class="controls controls-row">
      <%= f.input_field :body,
                        :rows => '4',
                        :placeholder => Comment.human_attribute_name(:body),
                        :class => 'span5' %>
    </div>
    <%= f.input_field :commentable_id,
                      :as => :hidden,
                      :value => comment.commentable_id %>
    <%= f.input_field :commentable_type,
                      :as => :hidden,
                      :value => comment.commentable_type %>

    <%= f.button :submit,
                 :class => 'btn btn-green',
                 :disable_with => "#{t('alert.submitting')}" %>

  <% end %>
</div>