<div class="span12">
  <h2><%= t('login_user.login_user_title') %></h2>
  <br>
  <%= minimal_form_for(resource, :as => resource_name, :url => session_path(resource_name),
                 :html => {:class => 'form-vertical' }) do |f| %>
    <%= f.input :email, :autofocus => true, :placeholder => User.human_attribute_name(:email) %>
    <%= f.input :password, :placeholder => User.human_attribute_name(:password) %>
    <br>
    <%= f.input_field :remember_me, :inline_label => User.human_attribute_name(:remember_me),
                      :as => :boolean if devise_mapping.rememberable? %>
    <br>
    <%= f.button :submit, t('action.log_me_in'), :class => 'btn-primary' %>
  <% end %>
  <%= render "users/shared/links" %>
</div>
