<div class="span12">
  <h1><%= MediaType.model_name.human(:count => 2).mb_chars.titlecase.to_s %></h1>
  <br>

  <table class="table table-striped">
    <tr>
      <th><%= MediaType.human_attribute_name(:name) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @media_types.each do |media_type| %>
      <tr>
        <td><%= media_type.name %></td>
        <td>
          <% if can? :read, media_type %>
            <%= link_to "#{t('action.show')}", media_type %>
          <% end %>
        </td>
        <td>
          <% if can? :edit, media_type %>
            <%= link_to "#{t('action.edit')}", edit_media_type_path(media_type) %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, media_type %>
            <%= link_to "#{t('action.destroy')}", media_type, :method => :delete, :data => {:confirm => "#{t('alert.are_you_sure')}"} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <br />

  <% if can? :create, MediaType %>
    <br/>
    <%= link_to "#{t(:new, :gender => :m)} #{MediaType.model_name.human}", new_media_type_path %>
  <% end %>
</div>
