<div class="span12">
  <p id="notice"><%= notice %></p>

  <p>
    <b><%= MediaType.human_attribute_name(:name) %>:</b>
    <%= @media_type.name %>
  </p>


  <%= link_to "#{t('action.edit')}", edit_media_type_path(@media_type) %> |
  <%= link_to "#{t('action.back')}", media_types_path %>
</div>
