<div class="span12">
  <h1>
    <%= @news_post.title %>
  </h1>

  <div class="news-post-author">
    <a class="pull-left" href="#">
      <%= image_tag @news_post.user.user_profile.logo_url(:thumb).to_s,
                    :class => 'media-object',
                    :size => '20x20' %>
    </a>
    <h4 class="media-heading">
      <%= @news_post.user.user_profile.name %>
    </h4>
  </div>

  <br>

  <h4>
    <%= @news_post.short_description %>
  </h4>

  <br>

  <p>
    <%= raw @news_post.article %>
  </p>

  <br>

  <p>
    <b><%= NewsPost.human_attribute_name(:link) %>:</b>
    <%= link_to @news_post.link,
                @news_post.link,
                :target => "_blank" %>
  </p>

  <br>

  <% if can? :update, @news_post %>
    <%= link_to "#{t('action.edit')}", edit_news_post_path(@news_post) %> |
  <% end %>
  <% if can? :read, NewsPost %>
    <%= link_to "#{t('action.back')}", news_posts_path %>
  <% end %>

  <br>
  <hr>
  <br>

  <%= render :partial => 'comments_stream' %>
</div>
