<div class="span12">
  <h1><%= MediaScope.model_name.human(:count => 2).mb_chars.titlecase.to_s %></h1>
  <br>

  <table class="table table-striped">
    <tr>
      <th><%= UserProfile.model_name.human(:count => 2) %></th>
      <th><%= MediaScope.human_attribute_name(:name) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @media_scopes.each do |media_scope| %>
      <tr>
        <td><%= media_scope.user_profiles_string %></td>
        <td><%= media_scope.name %></td>
        <td>
          <% if can? :read, media_scope %>
            <%= link_to "#{t('action.show')}", media_scope %>
          <% end %>
        </td>
        <td>
          <% if can? :edit, media_scope %>
            <%= link_to "#{t('action.edit')}", edit_media_scope_path(media_scope) %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, media_scope %>
            <%= link_to "#{t('action.destroy')}", media_scope, :method => :delete, :data => {:confirm => "#{t('alert.are_you_sure')}"} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <br />

  <% if can? :create, MediaScope %>
    <br/>
    <%= link_to "#{t(:new, :gender => :m)} #{MediaScope.model_name.human}", new_media_scope_path %>
  <% end %>
</div>
