<h1>Listing media_scopes</h1>

<table>
  <tr>
    <th>User profiles</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @media_scopes.each do |media_scope| %>
  <tr>
    <td><%= media_scope.user_profiles %></td>
    <td><%= media_scope.name %></td>
    <td><%= link_to 'Show', media_scope %></td>
    <td><%= link_to 'Edit', edit_media_scope_path(media_scope) %></td>
    <td><%= link_to 'Destroy', media_scope, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Media scope', new_media_scope_path %>
