<div class="span12">
  <p id="notice"><%= notice %></p>

  <p>
    <b><%= UserProfile.model_name.human(:count => 2) %>:</b>
    <%= @media_scope.user_profiles %>
  </p>

  <p>
    <b><%= MediaScope.human_attribute_name(:name) %>:</b>
    <%= @media_scope.name %>
  </p>


  <%= link_to "#{t('action.edit')}", edit_media_scope_path(@media_scope) %> |
  <%= link_to "#{t('action.back')}", media_scopes_path %>
</div>
