<div class="span12">
  <h1><%= User.model_name.human(:count => 2).mb_chars.titlecase.to_s %></h1>
  <br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= UserProfile.human_attribute_name(:logo) %></th>
      <th><%= User.model_name.human(:count => 1) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th width="102"><%= User.human_attribute_name(:registered) %></th>
      <th><%= Role.model_name.human(:count => 1) %></th>
      <th width="102"></th>
      <th width="112"></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= image_tag user.user_profile.logo_url(:thumb).to_s %></td>
        <td><%= user.user_profile.name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.to_date %></td>
        <td><%= user.roles.first.name.titleize unless user.roles.first.nil? %></td>
        <td>
          <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button"><%= "#{t('action.edit')} #{Role.model_name.human(:count => 1)}" %></a>
          <%= render user %>
        </td>
        <td>
          <% if can? :destroy, user %>
            <%= link_to("#{t('action.destroy')} #{User.model_name.human(:count => 1)}", user_path(user), :data => {:confirm => t('alert.are_you_sure')}, :method => :delete, :class => 'btn btn-mini') unless user == current_user %>
          <% end %>
        </td>
        <td>
          <% if can? :read, user %>
            <%= link_to "#{t('action.show')}",
                        user_path(user) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
