<p id="notice"><%= notice %></p>

<p>
  <b>User profiles:</b>
  <%= @expertise.user_profiles %>
</p>

<p>
  <b>Name:</b>
  <%= @expertise.name %>
</p>


<%= link_to 'Edit', edit_expertise_path(@expertise) %> |
<%= link_to 'Back', expertises_path %>
