<div class="span12">
  <p id="notice"><%= notice %></p>

  <p>
    <b><%= UserProfile.model_name.human(:count => 2) %>:</b>
    <%= @expertise.user_profiles_string %>
  </p>

  <p>
    <b><%= Expertise.human_attribute_name(:name) %>:</b>
    <%= @expertise.name %>
  </p>


  <%= link_to "#{t('action.edit')}", edit_expertise_path(@expertise) %> |
  <%= link_to "#{t('action.back')}", expertises_path %>
</div>
