<div class="span12">
  <p id="notice"><%= notice %></p>

  <p>
    <b><%= UserProfile.model_name.human(:count => 1) %>:</b>
    <%= @media_interest.user_profile_id %>
  </p>

  <p>
    <b><%= MediaInterest.human_attribute_name(:name) %>:</b>
    <%= @media_interest.name %>
  </p>


  <%= link_to "#{t('action.edit')}", edit_media_interest_path(@media_interest) %> |
  <%= link_to "#{t('action.back')}", media_interests_path %>
</div>
