<% content_for :map do %>
  <%= gmaps(
          :map_options => {
              :center_latitude => 41.637255074888465,
              :center_longitude => 21.741941953124297,
              :detect_location => false,
              :center_on_user => false,
              :auto_adjust => false,
              :auto_zoom => true,
              :zoom => 8,
              :type => 'ROADMAP',
              :raw => "{zoomControl: false, panControl: false, streetViewControl: false, mapTypeControl: false,
            styles: styles}"
          },
          :markers => {
              :data => @json
          }
      ) %>
<% end %>
<% if user_signed_in? %>

  <%= render :partial => 'news_posts' %>

<% else %>
  <div class="span6">
    <h4><%= t('home.login_title') %></h4>
    <%= minimal_nested_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
      <%= f.input :email, :autofocus => true, :placeholder => User.human_attribute_name('email') %>
      <%= f.input :password, :placeholder => User.human_attribute_name('password') %>
      <%= f.input_field :remember_me, :inline_label => User.human_attribute_name('remember_me'),
                        :as => :boolean if devise_mapping.rememberable? %>
      <br>
      <%= f.button :submit, t('action.log_me_in'), :class => 'btn-primary' %>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
  <div class="span6">
    <h4>
      <%= t('home.sign_up_title') %><br>
      <%= t('home.sign_up_subtitle') %> <%= link_to(t('home.here'), new_user_registration_path)  %>
    </h4>
  </div>
<% end %><%= content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    Gmaps.map.callback = function() {
      google.maps.event.addDomListener(window, "resize", function() {
        var map = Gmaps.map.serviceObject;
        var center = map.getCenter();
        google.maps.event.trigger(map, 'resize');
        map.setCenter(center);
      });
    }
  </script>
<% end %>