<% @type = @user_profile.type.downcase %>
<%= minimal_nested_form_for @user_profile,
                            as: :user_profile,
                            url: user_profile_path(@user_profile.id),
                            html: {class: 'form-vertical'} do |f| %>
  <div class="span12 dynamic-form">
    <h4>Edit your profile: <%= @user_profile.type %></h4>
    <hr>
    <div class="form-inputs dynamic-form-inputs">
    <%= f.hidden_field :type,
                       class: 'ngo expert institution media',
                       required: true %>
    <div class="controls controls-row">
      <%= f.input_field :name,
                        placeholder: 'Name',
                        class: 'ngo expert institution media span4',
                        required: true %>
    </div>
    <div class="controls controls-row">
      <h5 class="controls-row-header">Address</h5>
      <%= f.input_field :address,
                        placeholder: 'Address first line',
                        class: 'ngo expert institution media span4',
                        required: true %>
      <%= f.input_field :municipality,
                        placeholder: 'Municipality',
                        class: 'ngo expert institution media span4' %>
      <%= f.input_field :city,
                        placeholder: 'City',
                        class: 'ngo expert institution media span4',
                        required: true %>
    </div>
    <div class="controls controls-row">
      <%= f.input_field :post_code,
                        placeholder: 'Post code',
                        class: 'ngo expert institution media span4' %>
      <%= f.input_field :country,
                        collection: COUNTRIES,
                        placeholder: 'Country',
                        class: 'ngo expert institution media select2 span4',
                        required: true,
                        selected: COUNTRIES[129] %>
    </div>
    <% if ['ngo', 'institution', 'media'].include? @type || @type == 'administrator' %>
      <div class="controls controls-row">
        <h5 class="controls-row-header">Web</h5>
        <%= f.input_field :website,
                          placeholder: 'Website',
                          class: 'ngo institution media span4' %>
        <%= f.input_field :email,
                          placeholder: 'Alternative email',
                          class: 'ngo institution media span4' %>
      </div>
      <div class="controls controls-row">
        <h5 class="controls-row-header">Contact</h5>
        <%= f.input_field :phone,
                          placeholder: 'Phone number',
                          class: 'ngo institution media span4' %>
        <%= f.input_field :mobile,
                          placeholder: 'Mobile number',
                          class: 'ngo institution media span4' %>
        <%= f.input_field :fax,
                          placeholder: 'Fax',
                          class: 'ngo institution media span4' %>
      </div>
      <div class="controls controls-row">
        <h5 class="controls-row-header">Social</h5>
        <%= f.input_field :facebook,
                          placeholder: 'Facebook profile',
                          class: 'ngo institution media span4' %>
        <%= f.input_field :twitter,
                          placeholder: 'Twitter profile',
                          class: 'ngo institution media span4' %>
        <%= f.input_field :linked_in,
                          placeholder: 'LinkedIn profile',
                          class: 'ngo institution media span4' %>
      </div>
      <div class="controls controls-row">
        <%= f.input_field :skype,
                          placeholder: 'Skype ID',
                          class: 'ngo institution media span4' %>
        <%= f.input_field :google_plus,
                          placeholder: 'Google+ profile',
                          class: 'ngo institution media span4' %>
      </div>
    <% end %>
    <div class="controls controls-row">
      <h5 class="controls-row-header">Your representative</h5>
      <%= f.input_field :rep_name,
                        placeholder: 'Name of your representative',
                        class: 'ngo expert institution media span4',
                        required: true %>
      <%= f.input_field :rep_email,
                        placeholder: 'Email of your representative',
                        class: 'ngo expert institution media span4',
                        required: true %>
    </div>
    <% if @type == 'ngo' || @type == 'administrator' %>
      <div class="controls controls-row">
        <h5 class="controls-row-header">Your areas of activity</h5>
        <div class="select2-container-outer span4">
          <%= f.input_field :activity_ids,
                            as: :select,
                            multiple: true,
                            collection: Activity.all.collect {|c| [ c.name, c.id ] },
                            placeholder: 'Activities',
                            class: 'ngo select2 span4' %>
        </div>
      </div>
    <% end %>
    <% if @type == 'expert' || @type == 'administrator' %>
      <div class="controls controls-row">
        <h5 class="controls-row-header">Your areas of expertise</h5>
        <div class="select2-container-outer span4">
          <%= f.input_field :expertise_ids,
                            as: :select,
                            multiple: true,
                            collection: Expertise.all.collect {|c| [ c.name, c.id ] },
                            placeholder: 'Expertise',
                            class: 'expert select2 span4' %>
        </div>
      </div>
    <% end %>
    <% if @type == 'institution' || @type == 'administrator' %>
      <div class="controls controls-row">
        <h5 class="controls-row-header institution">Your areas of interest</h5>
        <%= f.simple_fields_for :interests do |builder| %>
          <%= builder.input_field :name,
                                  class: 'span4 nested-builder' %>
          <%= builder.link_to_remove "Remove this interest" %>
        <% end %>
        <p><%= f.link_to_add "Add an interest", :interests %></p>

      </div>
      <div class="controls controls-row">
        <h5 class="controls-row-header institution">Media sectors</h5>
        <%= f.simple_fields_for :sectors do |builder| %>
          <%= builder.input_field :name,
                                  class: 'span4 nested-builder' %>
          <%= builder.link_to_remove "Remove this sector" %>
        <% end %>
        <p><%= f.link_to_add "Add a sector", :sectors %></p>

      </div>
    <% end %>
    <% if @type == 'media' || @type == 'administrator' %>
      <div class="controls controls-row">
        <h5 class="controls-row-header media">Your areas of interest</h5>
        <%= f.simple_fields_for :media_interests do |builder| %>
          <%= builder.input_field :name,
                                  class: 'span4 nested-builder' %>
          <%= builder.link_to_remove "Remove this media interest" %>
        <% end %>
        <p><%= f.link_to_add "Add a media interest", :media_interests %></p>

      </div>
      <div class="controls controls-row">
        <h5 class="controls-row-header">Media information</h5>
        <div class="select2-container-outer span4">
          <%= f.input_field :media_scope_ids,
                            as: :select,
                            multiple: true,
                            collection: MediaScope.all.collect {|c| [ c.name, c.id ] },
                            placeholder: 'Media scope',
                            class: 'media select2 span4' %>
        </div>
        <%= f.input_field :media_type_id,
                          as: :select,
                          collection: MediaType.order('name'),
                          placeholder: 'Medium',
                          class: 'media select2 span4' %>
      </div>
    <% end %>
    <% if @type == 'ngo' || @type == 'administrator' %>
      <div class="controls controls-row">

        <div class="input-append date span2 datepicker" id="established-datepicker" data-date-format="dd-mm-yyyy">
          <%= f.text_field :established,
                           placeholder: 'Date of establishment',
                           class: 'ngo span2' %>
          <span class="add-on">
            <i class="icon-th"></i>
          </span>
        </div>
      </div>
      <div class="controls controls-row">
        <%= f.input_field :mission_statement,
                          placeholder: 'Your mission statement',
                          class: 'ngo span12',
                          rows: 6 %>
      </div>
      <div class="controls controls-row">
        <%= f.input_field :membership_number,
                          placeholder: 'Membership number',
                          class: 'ngo span4' %>
        <%= f.input_field :personnel_number,
                          placeholder: 'Personnel number',
                          class: 'ngo span4' %>
        <%= f.input_field :previous_year_budget,
                          placeholder: 'Budget for the previous year',
                          class: 'ngo span4' %>
      </div>
      <div class="controls controls-row">
        <%= f.input_field :head_local_projects,
                          placeholder: 'Local projects as head organization',
                          class: 'ngo span3' %>
        <%= f.input_field :head_national_projects,
                          placeholder: 'National projects as head organization',
                          class: 'ngo span3' %>
        <%= f.input_field :head_regional_projects,
                          placeholder: 'Regional projects as head organization',
                          class: 'ngo span3' %>
        <%= f.input_field :head_international_projects,
                          placeholder: 'International projects as head organization',
                          class: 'ngo span3' %>
      </div>
      <div class="controls controls-row">
        <%= f.input_field :partner_local_projects,
                          placeholder: 'Local projects as partner organization',
                          class: 'ngo span3' %>
        <%= f.input_field :partner_national_projects,
                          placeholder: 'National projects as partner organization',
                          class: 'ngo span3' %>
        <%= f.input_field :partner_regional_projects,
                          placeholder: 'Regional projects as partner organization',
                          class: 'ngo span3' %>
        <%= f.input_field :partner_international_projects,
                          placeholder: 'International projects as partner organization',
                          class: 'ngo span3' %>
      </div>
      <div class="controls controls-row">
        <%= f.input :gef_recipient,
                    label: 'Are you a recipient of a GEF grant?',
                    class: 'ngo' %>
      </div>
    <% end %>


    <script type="text/javascript">
      $('#established-datepicker').datepicker();
    </script>
    </div>

    <div class="form-actions">
      <%= f.button :submit,
                   'Update',
                   class: 'btn-primary' %>
    </div>
<% end %>
<%= link_to "Back",
            :back %>
</div>
