<% @type = @user_profile.type.downcase %>
<%= minimal_nested_form_for @user_profile,
                            :as => :user_profile,
                            :url => user_profile_path(@user_profile.id),
                            :html => { :class => 'form-vertical', :multipart => true } do |f| %>
  <div class="span12 dynamic-form">
    <h4>Измени на профилот</h4>
    <hr>
    <div class="form-inputs dynamic-form-inputs">
    <%= f.hidden_field :type,
                       :class => 'ngo expert institution media',
                       :required => true %>
    <div class="controls controls-row">
      <%= f.input_field :name,
                        :placeholder => 'име на организацијата',
                        :class => 'ngo expert institution media span4',
                        :required => true %>
    </div>
    <div class="controls controls-row">
      <h5 class="controls-row-header">Лого на организацијата (избери фајл или линк)</h5>

      <%= f.input_field :remote_logo_url,
                        :placeholder => 'линк од лого',
                        :class => 'ngo expert institution media span4' %>

      <div class="input-append span4 file-input">
        <input id="logo-upload" class="input-large" type="text">
        <a class="btn" onclick="$('input[id=user_profile_logo]').click();">Browse</a>
      </div>

      <%= f.input_field :logo,
                        :class => 'hidden-input ngo expert institution media span4',
                        :as => :file %>
    </div>
    <div class="controls controls-row">
      <h5 class="controls-row-header">Адреса на канцеларијата на организацијата</h5>
      <%= f.input_field :flat_number,
                        :placeholder => 'број на стан',
                        :class => 'ngo expert institution media span2',
                        :required => true %>
      <%= f.input_field :building_number,
                        :placeholder => 'број на зграда',
                        :class => 'ngo expert institution media span2',
                        :required => true %>
      <%= f.input_field :street,
                        :placeholder => 'улица',
                        :class => 'ngo expert institution media span4',
                        :required => true %>
      <%= f.input_field :municipality,
                        :placeholder => 'општина',
                        :class => 'ngo expert institution media span4' %>
    </div>
    <div class="controls controls-row">
      <%= f.input_field :city,
                        :placeholder => 'град',
                        :class => 'ngo expert institution media span4',
                        :required => true %>
      <%= f.input_field :post_code,
                        :placeholder => 'поштенски код',
                        :class => 'ngo expert institution media span4' %>
      <%= f.input_field :country,
                        :collection => COUNTRIES,
                        :placeholder => 'држава',
                        :class => 'ngo expert institution media select2 span4',
                        :required => true,
                        :selected => COUNTRIES[129] %>
    </div>
    <% if ['ngo', 'institution', 'media'].include? @type || @type == 'administrator' %>
      <div class="controls controls-row">
        <h5 class="controls-row-header">Официјални веб податоци</h5>
        <%= f.input_field :website,
                          :placeholder => 'вебсајт',
                          :class => 'ngo institution media span4' %>
        <%= f.input_field :email,
                          :placeholder => 'друг имејл',
                          :class => 'ngo institution media span4' %>
      </div>
      <div class="controls controls-row">
        <h5 class="controls-row-header">Контакт на организацијата</h5>
        <%= f.input_field :phone,
                          :placeholder => 'тел. број',
                          :class => 'ngo institution media span4' %>
        <%= f.input_field :mobile,
                          :placeholder => 'моб. број',
                          :class => 'ngo institution media span4' %>
        <%= f.input_field :fax,
                          :placeholder => 'факс',
                          :class => 'ngo institution media span4' %>
      </div>
      <div class="controls controls-row">
        <h5 class="controls-row-header">Социјални мрежи на организацијата</h5>
        <%= f.input_field :facebook,
                          :placeholder => 'профил на Facebook',
                          :class => 'ngo institution media span4' %>
        <%= f.input_field :twitter,
                          :placeholder => 'профил на Twitter',
                          :class => 'ngo institution media span4' %>
        <%= f.input_field :linked_in,
                          :placeholder => 'профил на LinkedIn',
                          :class => 'ngo institution media span4' %>
      </div>
      <div class="controls controls-row">
        <%= f.input_field :skype,
                          :placeholder => 'профил на Skype',
                          :class => 'ngo institution media span4' %>
        <%= f.input_field :google_plus,
                          :placeholder => 'профил на Google+',
                          :class => 'ngo institution media span4' %>
      </div>
    <% end %>
    <div class="controls controls-row">
      <h5 class="controls-row-header">Застапник на организацијата</h5>
      <%= f.input_field :rep_name,
                        :placeholder => 'име на претставникот на организацијата',
                        :class => 'ngo expert institution media span4',
                        :required => true %>
      <%= f.input_field :rep_email,
                        :placeholder => 'имејл на претставникот',
                        :class => 'ngo expert institution media span4',
                        :required => true %>
    </div>
    <% if @type == 'ngo' || @type == 'administrator' %>
      <div class="controls controls-row">
        <h5 class="controls-row-header">Област на делување</h5>
        <div class="select2-container-outer span4">
          <%= f.input_field :activity_ids,
                            :as => :select,
                            :multiple => true,
                            :collection => Activity.all.collect {|c| [ c.name, c.id ] },
                            :placeholder => 'активности',
                            :class => 'ngo select2 span4' %>
        </div>
      </div>
    <% end %>
    <% if @type == 'expert' || @type == 'administrator' %>
      <div class="controls controls-row">
        <h5 class="controls-row-header">Област на експертиза</h5>
        <div class="select2-container-outer span4">
          <%= f.input_field :expertise_ids,
                            :as => :select,
                            :multiple => true,
                            :collection => Expertise.all.collect {|c| [ c.name, c.id ] },
                            :placeholder => 'Expertise',
                            :class => 'expert select2 span4' %>
        </div>
      </div>
    <% end %>
    <% if @type == 'institution' || @type == 'administrator' %>
      <!--<div class="controls controls-row">-->
      <!--<h5 class="controls-row-header institution">Интереси</h5>-->
      <%#= f.simple_fields_for :interests do |builder| %>
      <%#= builder.input_field :name,
                            :class => 'span4 nested-builder' %>
      <%#= builder.link_to_remove "Remove this interest" %>
      <%# end %>
      <!--<p><%#= f.link_to_add "Add an interest", :interests %></p>-->

      <!--</div>-->

      <div class="controls controls-row">
        <h5 class="controls-row-header institution">Сектор во кој работи</h5>
        <%= f.simple_fields_for :sectors do |builder| %>
          <%= builder.input_field :name,
                                  :class => 'span4 nested-builder' %>
          <%= builder.link_to_remove "отстрани го секторот" %>
        <% end %>
        <p><%= f.link_to_add "додај сектор", :sectors %></p>

      </div>
    <% end %>
    <% if @type == 'media' || @type == 'administrator' %>
      <div class="controls controls-row">
        <h5 class="controls-row-header media">Интереси</h5>
        <%= f.simple_fields_for :media_interests do |builder| %>
          <%= builder.input_field :name,
                                  :class => 'span4 nested-builder' %>
          <%= builder.link_to_remove "отстрани го интересот" %>
        <% end %>
        <p><%= f.link_to_add "додај интерес", :media_interests %></p>

      </div>
      <div class="controls controls-row">
        <h5 class="controls-row-header">Информации за медиумот</h5>
        <div class="select2-container-outer span4">
          <%= f.input_field :media_scope_ids,
                            :as => :select,
                            :multiple => true,
                            :collection => MediaScope.all.collect {|c| [ c.name, c.id ] },
                            :placeholder => 'тип на медиум',
                            :class => 'media select2 span4' %>
        </div>
        <%= f.input_field :media_type_id,
                          :as => :select,
                          :collection => MediaType.order('name'),
                          :placeholder => 'медиум',
                          :class => 'media select2 span4' %>
      </div>
    <% end %>
    <% if @type == 'ngo' || @type == 'administrator' %>
      <div class="controls controls-row">

        <div class="input-append date span2 datepicker" id="established-datepicker" data-date-format="dd-mm-yyyy">
          <%= f.text_field :established,
                           :placeholder => 'датум на основање',
                           :class => 'ngo span2' %>
          <span class="add-on">
      <i class="icon-th"></i>
    </span>
        </div>
      </div>
      <div class="controls controls-row">
        <%= f.input_field :mission_statement,
                          :placeholder => 'мисија на организацијата',
                          :class => 'ngo span12',
                          :rows => 6 %>
      </div>
      <div class="controls controls-row">
        <%= f.input_field :membership_number,
                          :type => :number,
                          :placeholder => 'број на членови',
                          :class => 'ngo span2' %>
        <%= f.input_field :personnel_number,
                          :type => :number,
                          :placeholder => 'број на вработени',
                          :class => 'ngo span2' %>
      </div>
      <div class="controls controls-row">
        <%= f.input_field :previous_year_budget,
                          :type => :number,
                          :placeholder => 'лански буџет во евра',
                          :class => 'ngo span2' %>
      </div>
      <div class="controls controls-row">
        <h5>Број на спроведени проекти каде вашето здружение е носител</h5>
        <%= f.input_field :head_local_projects,
                          :type => :number,
                          :placeholder => 'локални',
                          :class => 'ngo span2' %>
        <%= f.input_field :head_regional_projects,
                          :type => :number,
                          :placeholder => 'регионални',
                          :class => 'ngo span2' %>
        <%= f.input_field :head_national_projects,
                          :type => :number,
                          :placeholder => 'национални',
                          :class => 'ngo span2' %>
        <%= f.input_field :head_international_projects,
                          :type => :number,
                          :placeholder => 'интернационални',
                          :class => 'ngo span2' %>
      </div>
      <div class="controls controls-row">
        <h5>Број на спроведени проекти каде вашето здружение е партнер</h5>
        <%= f.input_field :partner_local_projects,
                          :type => :number,
                          :placeholder => 'локални',
                          :class => 'ngo span2' %>
        <%= f.input_field :partner_national_projects,
                          :type => :number,
                          :placeholder => 'национални',
                          :class => 'ngo span2' %>
        <%= f.input_field :partner_regional_projects,
                          :type => :number,
                          :placeholder => 'регионални',
                          :class => 'ngo span2' %>
        <%= f.input_field :partner_international_projects,
                          :type => :number,
                          :placeholder => 'интернационални',
                          :class => 'ngo span2' %>
      </div>
      <br>
      <div class="controls controls-row">
        <%= f.input_field :gef_recipient,
                          :as => :boolean,
                          :inline_label => 'Дали сте биле корисници на грант од ГЕФ Програмата за мали грантови?',
                          :class => 'ngo' %>
      </div>
    <% end %>

    </div>

    <div class="form-actions">
      <%= f.button :submit,
                   'ажурирај',
                   :class => 'btn-primary' %>
    </div>
<% end %>
<%= link_to "назад",
            :back %>
</div>

<script type="text/javascript">
  $('#established-datepicker').datepicker();
</script>

<script type="text/javascript">
  $('input[id=user_profile_logo]').change(function() {
    var path = $(this).val().split('\\');
    $('#logo-upload').val(path[path.length-1]);
  });
</script>
