<% @type = @user_profile.type.downcase %>
<%= minimal_nested_form_for @user_profile,
                            :as => :user_profile,
                            :url => user_profile_path(@user_profile.id),
                            :html => {:class => 'form-vertical', :multipart => true} do |f| %>
  <div class="span12 dynamic-form">

    <h4><%= "#{t('action.edit')} #{UserProfile.model_name.human}".mb_chars.titlecase.to_s %></h4>
    <hr>

    <div class="form-inputs dynamic-form-inputs">

      <%= f.hidden_field :type,
                         :class => 'ngo expert institution media',
                         :required => true %>

      <div class="controls controls-row">
        <%= f.input_field :name,
                          :placeholder => UserProfile.human_attribute_name(:name),
                          :class => 'ngo expert institution media span4',
                          :required => true %>
      </div>

      <div class="controls controls-row">
        <h5 class="controls-row-header"><%= t('user_profile_form.logo_title') %></h5>

        <%= f.input_field :remote_logo_url,
                          :placeholder => UserProfile.human_attribute_name(:remote_logo_url),
                          :class => 'ngo expert institution media span4' %>

        <div class="input-append span4 file-input">
          <input id="logo-upload" class="input-large" type="text">
          <a class="btn" onclick="$('input[id=user_profile_logo]').click();">Browse</a>
        </div>

        <%= f.input_field :logo,
                          :class => 'hidden-input ngo expert institution media span4',
                          :as => :file %>
      </div>

      <div class="controls controls-row">
        <h5 class="controls-row-header"><%= t('user_profile_form.address_title') %></h5>
        <%= f.input_field :flat_number,
                          :placeholder => UserProfile.human_attribute_name(:flat_number),
                          :class => 'ngo expert institution media span2',
                          :required => true %>
        <%= f.input_field :building_number,
                          :placeholder => UserProfile.human_attribute_name(:building_number),
                          :class => 'ngo expert institution media span2',
                          :required => true %>
        <%= f.input_field :street,
                          :placeholder => UserProfile.human_attribute_name(:street),
                          :class => 'ngo expert institution media span4',
                          :required => true %>
        <%= f.input_field :municipality,
                          :placeholder => UserProfile.human_attribute_name(:municipality),
                          :class => 'ngo expert institution media span4' %>
      </div>

      <div class="controls controls-row">
        <%= f.input_field :city,
                          :placeholder => UserProfile.human_attribute_name(:city),
                          :class => 'ngo expert institution media span4',
                          :required => true %>
        <%= f.input_field :post_code,
                          :placeholder => UserProfile.human_attribute_name(:post_code),
                          :class => 'ngo expert institution media span4' %>
        <%= f.input_field :country,
                          :collection => COUNTRIES,
                          :placeholder => UserProfile.human_attribute_name(:country),
                          :class => 'ngo expert institution media select2 span4',
                          :required => true,
                          :selected => COUNTRIES[129] %>
      </div>

      <% if %w(ngo institution media).include? @type || @type == 'administrator' %>

        <div class="controls controls-row">
          <h5 class="controls-row-header"><%= t('user_profile_form.web_title') %></h5>
          <%= f.input_field :website,
                            :placeholder => UserProfile.human_attribute_name(:website),
                            :class => 'ngo institution media span4' %>
          <%= f.input_field :email,
                            :placeholder => UserProfile.human_attribute_name(:email),
                            :class => 'ngo institution media span4' %>
        </div>

        <div class="controls controls-row">
          <h5 class="controls-row-header"><%= t('user_profile_form.contact_title') %></h5>
          <%= f.input_field :phone,
                            :placeholder => UserProfile.human_attribute_name(:phone),
                            :class => 'ngo institution media span4' %>
          <%= f.input_field :mobile,
                            :placeholder => UserProfile.human_attribute_name(:mobile),
                            :class => 'ngo institution media span4' %>
          <%= f.input_field :fax,
                            :placeholder => UserProfile.human_attribute_name(:fax),
                            :class => 'ngo institution media span4' %>
        </div>

        <div class="controls controls-row">
          <h5 class="controls-row-header"><%= t('user_profile_form.social_title') %></h5>
          <%= f.input_field :facebook,
                            :placeholder => UserProfile.human_attribute_name(:facebook),
                            :class => 'ngo institution media span4' %>
          <%= f.input_field :twitter,
                            :placeholder => UserProfile.human_attribute_name(:twitter),
                            :class => 'ngo institution media span4' %>
          <%= f.input_field :linked_in,
                            :placeholder => UserProfile.human_attribute_name(:linked_in),
                            :class => 'ngo institution media span4' %>
        </div>

        <div class="controls controls-row">
          <%= f.input_field :skype,
                            :placeholder => UserProfile.human_attribute_name(:skype),
                            :class => 'ngo institution media span4' %>
          <%= f.input_field :google_plus,
                            :placeholder => UserProfile.human_attribute_name(:google_plus),
                            :class => 'ngo institution media span4' %>
        </div>

      <% end %>

      <div class="controls controls-row">
        <h5 class="controls-row-header"><%= t('user_profile_form.rep_title') %></h5>
        <%= f.input_field :rep_name,
                          :placeholder => UserProfile.human_attribute_name(:rep_name),
                          :class => 'ngo expert institution media span4',
                          :required => true %>
        <%= f.input_field :rep_email,
                          :placeholder => UserProfile.human_attribute_name(:rep_email),
                          :class => 'ngo expert institution media span4',
                          :required => true %>
      </div>

      <% if @type == 'ngo' || @type == 'administrator' %>

        <div class="controls controls-row">
          <h5 class="controls-row-header"><%= t('user_profile_form.activity_title') %></h5>

          <div class="select2-container-outer span4">
            <%= f.input_field :activity_ids,
                              :as => :select,
                              :multiple => true,
                              :collection => Activity.all.collect { |c| [c.name, c.id] },
                              :placeholder => UserProfile.human_attribute_name(:activity_ids),
                              :class => 'ngo select2 span4' %>
          </div>

        </div>

      <% end %>

      <% if @type == 'expert' || @type == 'administrator' %>

        <div class="controls controls-row">
          <h5 class="controls-row-header"><%= t('user_profile_form.expertise_title') %></h5>

          <div class="select2-container-outer span4">
            <%= f.input_field :expertise_ids,
                              :as => :select,
                              :multiple => true,
                              :collection => Expertise.all.collect { |c| [c.name, c.id] },
                              :placeholder => UserProfile.human_attribute_name(:expertise_ids),
                              :class => 'expert select2 span4' %>
          </div>

        </div>

      <% end %>

      <% if @type == 'institution' || @type == 'administrator' %>

        <!--<div class="controls controls-row">-->
        <!--<h5 class="controls-row-header institution">Интереси</h5>-->
        <%#= f.simple_fields_for :interests do |builder| %>
        <%#= builder.input_field :name,
                                :class => 'span4 nested-builder' %>
        <%#= builder.link_to_remove "Remove this interest" %>
        <%# end %>
        <!--<p><%#= f.link_to_add "Add an interest", :interests %></p>-->

        <!--</div>-->

        <div class="controls controls-row">
          <h5 class="controls-row-header institution"><%= t('user_profile_form.sector_title') %></h5>
          <%= f.simple_fields_for :sectors do |builder| %>
            <%= builder.input_field :name,
                                    :class => 'span4 nested-builder' %>
            <%= builder.link_to_remove "отстрани го секторот" %>
          <% end %>
          <p><%= f.link_to_add "додај сектор", :sectors %></p>

        </div>

      <% end %>

      <% if @type == 'media' || @type == 'administrator' %>

        <div class="controls controls-row">
          <h5 class="controls-row-header media"><%= t('user_profile_form.interest_title') %></h5>
          <%= f.simple_fields_for :media_interests do |builder| %>
            <%= builder.input_field :name,
                                    :class => 'span4 nested-builder' %>
            <%= builder.link_to_remove "отстрани го интересот" %>
          <% end %>
          <p><%= f.link_to_add "додај интерес", :media_interests %></p>

        </div>

        <div class="controls controls-row">
          <h5 class="controls-row-header"><%= t('user_profile_form.media_title') %></h5>

          <div class="select2-container-outer span4">
            <%= f.input_field :media_scope_ids,
                              :as => :select,
                              :multiple => true,
                              :collection => MediaScope.all.collect { |c| [c.name, c.id] },
                              :placeholder => UserProfile.human_attribute_name(:media_scope_ids),
                              :class => 'media select2 span4' %>
          </div>

          <%= f.input_field :media_type_id,
                            :as => :select,
                            :collection => MediaType.order('name'),
                            :placeholder => UserProfile.human_attribute_name(:media_type_id),
                            :class => 'media select2 span4' %>

        </div>

      <% end %>

      <% if @type == 'ngo' || @type == 'administrator' %>

        <div class="controls controls-row">

          <div class="input-append date span2 datepicker" id="established-datepicker" data-date-format="dd-mm-yyyy">
            <%= f.text_field :established,
                             :placeholder => UserProfile.human_attribute_name(:established),
                             :class => 'ngo span2' %>
            <span class="add-on">
          <i class="icon-th"></i>
        </span>
          </div>
        </div>

        <div class="controls controls-row">
          <%= f.input_field :mission_statement,
                            :placeholder => UserProfile.human_attribute_name(:mission_statement),
                            :class => 'ngo span12',
                            :rows => 6 %>
        </div>

        <div class="controls controls-row">
          <%= f.input_field :membership_number,
                            :type => :number,
                            :placeholder => UserProfile.human_attribute_name(:membership_number),
                            :class => 'ngo span2' %>
          <%= f.input_field :personnel_number,
                            :type => :number,
                            :placeholder => UserProfile.human_attribute_name(:personnel_number),
                            :class => 'ngo span2' %>
        </div>

        <div class="controls controls-row">
          <%= f.input_field :previous_year_budget,
                            :type => :number,
                            :placeholder => UserProfile.human_attribute_name(:previous_year_budget),
                            :class => 'ngo span2' %>
        </div>

        <div class="controls controls-row">
          <h5><%= t('user_profile_form.head_project_title') %></h5>
          <%= f.input_field :head_local_projects,
                            :type => :number,
                            :placeholder => UserProfile.human_attribute_name(:head_local_projects),
                            :class => 'ngo span2' %>
          <%= f.input_field :head_regional_projects,
                            :type => :number,
                            :placeholder => UserProfile.human_attribute_name(:head_regional_projects),
                            :class => 'ngo span2' %>
          <%= f.input_field :head_national_projects,
                            :type => :number,
                            :placeholder => UserProfile.human_attribute_name(:head_national_projects),
                            :class => 'ngo span2' %>
          <%= f.input_field :head_international_projects,
                            :type => :number,
                            :placeholder => UserProfile.human_attribute_name(:head_international_projects),
                            :class => 'ngo span2' %>
        </div>

        <div class="controls controls-row">
          <h5><%= t('user_profile_form.partner_project_title') %></h5>
          <%= f.input_field :partner_local_projects,
                            :type => :number,
                            :placeholder => UserProfile.human_attribute_name(:partner_local_projects),
                            :class => 'ngo span2' %>
          <%= f.input_field :partner_national_projects,
                            :type => :number,
                            :placeholder => UserProfile.human_attribute_name(:partner_national_projects),
                            :class => 'ngo span2' %>
          <%= f.input_field :partner_regional_projects,
                            :type => :number,
                            :placeholder => UserProfile.human_attribute_name(:partner_regional_projects),
                            :class => 'ngo span2' %>
          <%= f.input_field :partner_international_projects,
                            :type => :number,
                            :placeholder => UserProfile.human_attribute_name(:partner_international_projects),
                            :class => 'ngo span2' %>
        </div>

        <br>

        <div class="controls controls-row">
          <%= f.input_field :gef_recipient,
                            :as => :boolean,
                            :inline_label => UserProfile.human_attribute_name(:gef_recipient),
                            :class => 'ngo' %>
        </div>

      <% end %>

    </div>
    <!--end of form-inputs-->

    <div class="form-actions">
      <%= f.button :submit,
                   'ажурирај',
                   :class => 'btn-primary' %>
    </div>
    <!--end of form-actions-->

    <%= link_to 'назад',
                :back %>

  </div>
  <!--end of dynamic-form-->

<% end %>

<script type="text/javascript">
  $('#established-datepicker').datepicker({
    language: '<%= I18n.locale.to_s %>'
  });
</script>

<script type="text/javascript">
  $('input[id=user_profile_logo]').change(function () {
    var path = $(this).val().split('\\');
    $('#logo-upload').val(path[path.length - 1]);
  });
</script>
