<h1>Listing user_profiles</h1>

<table>
  <tr>
    <th>User</th>
    <th>Type</th>
    <th>Name</th>
    <th>Website</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Rep name</th>
    <th>Rep email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_profiles.each do |user_profile| %>
  <tr>
    <td><%= user_profile.user_id %></td>
    <td><%= user_profile.type %></td>
    <td><%= user_profile.name %></td>
    <td><%= user_profile.website %></td>
    <td><%= user_profile.email %></td>
    <td><%= user_profile.phone %></td>
    <td><%= user_profile.rep_name %></td>
    <td><%= user_profile.rep_email %></td>
    <td><%= link_to 'Show', user_profile_path(user_profile) %></td>
    <td><%= link_to 'Edit', edit_user_profile_path(user_profile) %></td>
    <td><%= link_to 'Destroy', user_profile_path(user_profile), :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />