<div class="span12">
  <p id="notice"><%= notice %></p>

  <p>
    <b><%= UserProfile.model_name.human(:count => 2) %>:</b>
    <%= @activity.user_profiles_string %>
  </p>

  <p>
    <b><%= Activity.human_attribute_name(:name) %>:</b>
    <%= @activity.name %>
  </p>


  <%= link_to "#{t('action.edit')}", edit_activity_path(@activity) %> |
  <%= link_to "#{t('action.back')}", activities_path %>
</div>
