<% if user_signed_in? %>
  <% @user_profile = UserProfile.where(user_id: current_user.id).first %>
<% end %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
    <li>
      <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <li>
      <%= link_to 'Edit user profile', edit_user_profile_path(@user_profile.id) %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
        <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
      <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
</ul>
<div class="brand-text-outer pull-right">
  <p class="brand-text">© Copyright 2013 Ekosfera. All rights reserved.</p>
</div>
