
<ul class="nav">
  <% if user_signed_in? %>
    <% @user_profile = UserProfile.where('user_id = ?', current_user.id).first %>
    <li>
      <%= link_to "#{t('footer.logout')}", destroy_user_session_path, :method=>'delete' %>
    </li>
    <li>
      <%= link_to "#{t('footer.edit_user')}", edit_user_registration_path %>
    </li>
    <li>
      <%= link_to "#{t('footer.edit_user_profile')}", edit_user_profile_path(@user_profile.id) %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
        <%= link_to "#{t('footer.admin')}", users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
      <%= link_to "#{t('footer.login')}", new_user_session_path %>
    </li>
  <% end %>
</ul>
<div class="brand-text-outer pull-right">
  <p class="brand-text">Сите права се задржани. Екосфера 2013. © Copyright 2013 Ekosfera. All rights reserved.</p>&nbsp;
  <p class="brand-text">
    <%= link_to (image_tag 'kukyalogo.png', :id => 'kukyalogo'),
              'http://kukya.com/',
              :target => '_blank' %>
  </p>
</div>
