<%= link_to image_tag('logo.png', width: 84),
            root_path,
            class: 'brand' %>
<div class="brand-text-outer pull-left">
  <p class="brand-text">Екосфера доаѓа наскоро... <br>
    Очекувајте многу интересни содржини и корисни алатки.</p>
</div>
<div class="brand-text-outer pull-right">
  <span class="brand-text" id="countdown"></span>
</div>

<ul class="nav">
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
      <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
      <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
        <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
      <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>


<script type="text/javascript">
  var launchDate = new Date();

  launchDate = new Date("january 17, 2014 13:00:00");

  $('#countdown').countdown(
      {
        until: launchDate,
        compact: true,
        format: 'DHM',
        description: ''
      }
  );
</script>