<%= minimal_nested_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical', :multipart => true } do |f| %>
  <div class="span6">
    <h4><%= t('update_user.update_user_title') %></h4>
    <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
        <%= link_to t('action.back'),
                    :back %>
        |
      <% end %>
      <%= link_to t('action.cancel'),
                  home_index_path %>
    <% end %>
    <hr>
    <%= devise_error_messages! %>
    <%= f.error_notification %>
    <%= display_base_errors resource %>
    <%= f.input :email,
                :placeholder => User.human_attribute_name(:email),
                :required => true %>

    <p><%= t('update_user.minimum_character_hint') %></p>

    <%= f.input :password,
                :placeholder => User.human_attribute_name(:password),
                :autocomplete => 'off',
                :hint => t('update_user.new_password_hint'),
                :required => false %>
    <%= f.input :password_confirmation,
                :placeholder => User.human_attribute_name(:password_confirmation),
                :required => false %>
    <%= f.input :current_password,
                :placeholder => User.human_attribute_name(:current_password),
                :hint => t('update_user.old_password_hint'),
                :required => true %>
    <br>
    <%= f.button :submit, t('action.update'), :class => 'btn-primary' %>
  </div>
  <div class="span6">&nbsp;</div>
<% end %>
</div>
