<%= minimal_nested_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' } do |f| %>
  <div class="span6">
    <h4>Ажурирајте ги податоците за најавување</h4>
    <%= link_to "назад",
                :back %>
    <hr>
    <%= devise_error_messages! %>
    <%= f.error_notification %>
    <%= display_base_errors resource %>
    <%= f.input :email,
                placeholder: 'имејл',
                required: true %>
    <p>Лозинката мора да има најмалку 6 карактери</p>
    <%= f.input :password,
                placeholder: 'лозинка',
                autocomplete: 'off',
                hint: "Оставете го полето празно доколку не сакате да направите промени",
                required: false %>
    <%= f.input :password_confirmation,
                placeholder: 'потврда на лозинката',
                required: false %>
    <%= f.input :current_password,
                placeholder: 'сегашна лозинка',
                hint: "Потребна е Вашата сегашна лозинка за потврда на промените",
                required: true %>
  </div>
  <div class="span6">&nbsp;</div>
<% end %>
</div>
